.homepage {
  background: #0b0e11;
}

.homepage .static_frame {
  width: 100%;
  background: #2c261e;
}

.homepage .personage_img_left {
  /* display: block; */
  width: 204px;
  height: 200px;
  background: url("/public/images/papay.svg");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .personage_img_right {
  /* display: block; */
  width: 204px;
  height: 200px;
  background: url("/public/images/papay.svg");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}
.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #fff;
}

.homepage .static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

.homepage .top_restaurant_frame {
  display: flex;
  width: 100%;
  height: 605px;
  background: #0b0e11;
}

/* TOP RESTAURANT SECTION */
.homepage .top-restaurant_frame {
  height: 605px;
  width: 100%;
  display: flex;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e3c08d;
}

<<<<<<< HEAD
=======

>>>>>>> 24ad6b7f568ce532fd8722d365e56b90925f9d6a
/* BEST RESTAURANT COMPONENT */
.homepage .best_restaurant_frame {
  display: flex;
  width: 100%;
<<<<<<< HEAD
  height: 775px;
  background: #0b0e11;
}

/* BEST DISHES */
.homepage .best_dishes_frame {
  margin-top: 72px;
  display: flex;
  width: 100%;
  height: 462px;
}

.homepage .dish_box {
  margin-right: 26px;
  width: 273px;
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .dish_box .dish_img {
  position: relative;
  margin-right: 26px;
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
  display: flex;
  flex-direction: column;
}
.homepage .dish_img .dish_sale {
  margin-top: 43px;
  width: 77px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background: #f8be69;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homepage .view_btn {
  width: 163px;
  height: 50px;
  margin-top: 31px;
  margin-left: 55px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  border: 2px solid #b48b50;
  background: rgba(28, 23, 23, 0.59);
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  font-family: "Poppins" sans-serif;
}

.homepage .dish_img:hover .view_btn {
  opacity: 1;
}

.homepage .dish_box .dish_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .dish_desc .dish_title_text {
  margin-top: 18px;
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
}

.homepage .dish_desc .dish_desc_text {
  margin-top: 15px;
  color: #e3c08d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.homepage .ads_restaurant_frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px -62px 60px 20px rgba(217 217 217 /40%);
  margin-top: 186px;
  background-color: #956dd3;
}

.homepage .ads_video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgba(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}
=======
  height: 755px;
  background: #0b0e11;
}
>>>>>>> 24ad6b7f568ce532fd8722d365e56b90925f9d6a
